.headTitle{
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.addYourName{
    text-align: center;
}

.yourData{
    text-align: center;
    margin-top: 20px;

}

.shift1{
    margin-left: 40px;
}

.shift2{
    margin-left: 50px;
}


















































































#submitbtn{
margin-left: 49%;
margin-top: 2%;

}



